<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>642119233779-8rleifkccthasgsb6641n51u5sl73kv5.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.642119233779-8rleifkccthasgsb6641n51u5sl73kv5</string>
	<key>API_KEY</key>
	<string>AIzaSyCSauO1Hk_zg2hPkKmCZd6UTMYmVRz3APg</string>
	<key>GCM_SENDER_ID</key>
	<string>642119233779</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.madx.27code</string>
	<key>PROJECT_ID</key>
	<string>th-codes</string>
	<key>STORAGE_BUCKET</key>
	<string>th-codes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:642119233779:ios:b0328e5a7c97f4f3f24786</string>
</dict>
</plist>